body{
    max-width: 440px;
    height: 956px;
    background-image: url(../img/loginimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #logo{
    width: 255px;
    height: 101px;
    margin-top: 92px;
  }
  
  .form{
    margin-top: 91px;
  }
  
  form h1{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .forgotPassword{
    text-align: right;
    margin-right: 15px;
  }
  
  .buttonConfirm{
    margin-top: 87px;
  }
  