body{
    max-width: 440px;
    height: 956px;
    background-image: url(../img/loginimage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #logo{
    width: 255px;
    height: 101px;
    margin-top: 427px;
  }
  
  .buttons{
    display: block;
    text-align: center;
    margin-top: 200px;
  }
  
  .btn-primary{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  
.icons{
    display: flex;
    justify-content: center;
}

  .iconbtn{
    background:var(--primary);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iconbtn:hover {
    background: #e6cf00;
  }

  .iconbtn svg {
    width: 40px;
    height: 40px;
  }

  button svg{
    padding-top: 5px;
  }

